body {
    background: #07889B;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #66B9BF, #07889B);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #66B9BF, #07889B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: calc(100vh - 60px);
  }
  
  /*#contentWrap {
    display: none;
  }*/
  
  .chat {
    height: 35rem;
    overflow-y: scroll;
  }
  
  .error {
    color: red;
  }
  
  .whisper {
    color: rgb(255, 255, 255);
    font-style: italic;
  }
  